 <%= simple_form_for @batch do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence %>
    <%= f.input :prefix, collection: @sizes, label_method: :first, value_method: :last %>
    <%= f.simple_fields_for :absolute_identifiers do |abid| %>
      <%= render "absolute_identifier_fields", f: abid %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add absolute identifier', f, :absolute_identifiers %>
    </div>
    <%= f.input :ignore_size_validation, as: :radio_buttons, collection: [[false, "Protect Existing AbIDs"], [true, "Replace Existing AbIDs"]], label_method: :second, value_method: :first, wrapper: :horizontal_collection_inline, label: false %>
    <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
