<!DOCTYPE html>
<html>
  <head>
    <title>Absolute Identifiers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="lux">
      <library-header app-name="Absolute Identifier Management" abbr-name="LTR" app-url="<%= root_path %>" theme="dark">
      <% if current_user.blank? %>
        <menu-bar type="main-menu" :menu-items="[
                        {name: 'Help', component: 'Help', href: '/help/'},
                        {name: 'Feedback', component: 'Feedback', href: '/feedback/'},
                        {name: 'Your Account', component: 'Account', href: '/account/', children: [
                        {name: 'Login', component: 'Login', href: '/users/auth/cas'}
                        ]}
                        ]"
                  ></menu-bar>
      <% else %>
        <menu-bar type="main-menu" :menu-items="[
                        {name: 'Help', component: 'Help', href: '/help/'},
                        {name: 'Feedback', component: 'Feedback', href: '/feedback/'},
                        {name: 'Your Account', component: 'Account', href: '/account/', children: [
                        {name: 'Logout', component: 'Logout', href: '/sign_out'}
                        ]}
                        ]"
                  ></menu-bar>
      <% end %>
      </library-header>
    </div>
    <div id="main" class="container">
      <div class="row">
        <div class="column">
          <%= render partial: "shared/flash_message" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="lux">
      <library-footer></library-footer>
    </div>
  </body>
</html>
